body{
    background: linear-gradient(to top, #d2dbdc 0%, #dddbd1 85%, #009588 85%, #009588 100%);
    height: 100vh;
    display: flex;
    font-size: var(--font-size-mobile);
}

/* INIZIO LAYOUT */
.container{
    width: 100vw;
    height: 100vh;
}
/* INIZIO COL-LEFT */
.col-left{
    display: none;
}

.col-left.debug{
    background-color: yellow;
}

.notify{
    background-color: #8fdafc;
}

.search-chat{
    background-color: gray;
}

.search-input{
    width: calc(100% - 0.5rem);
    margin: 0 0.25rem;
    padding: 0.25rem 0;
}

.recent-chat{
    background-color: brown;
    border: 1px solid black;
}
/* FINE COL-LEFT */
/* INIZIO COL-RIGHT */
.col-right{
    width: 100%;
}

header{
    height: 4rem;
    background-color: var(--top-row-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.chat-avatar{
    height: 3rem;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-name{
    margin-bottom: 5px;
}

.status{
    color: var(--icon-color)
}

.chat-tools{
    display: none;
    color: var(--icon-color)
}

.chat-tools i{
    font-size: 1.25rem;
    padding: 0.5rem;
}

#messages{
    background-image: url(/img/mine.jpg);
    height: calc(100% - 8rem);
    padding: 1rem 3rem;
    overflow-y: auto;
}

.user-message{
    text-align: right;
}

.user-message .content{
    background-color: green;
    display: inline-block;
    max-width: 70%;
    margin-bottom: 1rem;
}

.received-message .content{
    background-color: orange;
    display: inline-block;
}

footer{
    height: 4rem;
    background-color: var(--bottom-row-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

footer input{
    width: calc(100% - 2rem);
    margin: 5px 1rem;
    height: calc(100% - 10px);
}
/* FINE COL-RIGHT */
/* FINE LAYOUT */

/* INIZIO UTILITY */
.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.show-tab{
    display: none;
}
/* FINE UTILITY */
