body{
    background: linear-gradient(to top, #d2dbdc 0%, #dddbd1 85%, #009588 85%, #009588 100%);
    height: 100vh;
    display: flex;
    font-size: var(--font-size-mobile);
}

/* INIZIO LAYOUT */
.container{
    width: 100vw;
    height: 100vh;
}

.container.debug{
    background-color: red;
}

.col-left{
    display: none;
}

.col-left.debug{
    background-color: yellow;
}

.col-right{
    width: 100%;
}

.col-right.debug{
    background-color: blue;
}

#info{
    background-color: var(--top-row-color);
    height: 10%;
}

.chat-tools{
    display: none;
}

#messages{
    background-image: url(/img/mine.jpg);
    height: 80%;
    padding: 1rem 5rem;
}

.user-message{
    text-align: right;
}

.user-message .content{
    background-color: green;
    display: inline-block;
}

.received-message .content{
    background-color: orange;
    display: inline-block;
}

#message-input{
    background-color: var(--bottom-row-color);
    height: 10%;
}

.new-message{
    height: 100%;
}

.new-message input{
    width: calc(100% - 2rem);
    margin: 5px 1rem;
    height: calc(100% - 10px);
}
/* FINE LAYOUT */

/* INIZIO UTILITY */
.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.hide-tab{
    display: none;
}
/* FINE UTILITY */
