/* min-width:992px */
@media screen and (min-width: 992px) {
    body{
        font-size: var(--font-size-desktop);
    }

    .container{
        width: 90%;
        height: 95vh;
        margin: auto;
    }

    .col-left{
        width: 25%;
    }

    .col-right{
        width: 75%;
    }

    .show-desk{
        display: initial;
    }

    .notify.show-desk{
        display: block;
    }

    .search-chat.show-desk{
        display: block;
    }
}