/* min-width:992px */
@media screen and (min-width: 992px) {
    .container{
        width: 90%;
        height: 95vh;
        margin: auto;
    }

    .col-left{
        width: 20%;
    }

    .col-right{
        width: 80%;
    }

    .show-desk{
        display: initial;
    }

    .notify.show-desk{
        display: block;
    }

    .search-chat.show-desk{
        display: block;
    }

    .recent-chats{
        overflow-y: scroll;
    }

    .recent-chat{
        height: 14%;
    }
}