/* min-width:576px */

@media screen and (min-width: 576px) {
    .col-left{
        width: 5%;
        display: block;
    }

    .col-right{
        width: 95%;
    }

    .chat-tools{
        display: initial;
    }

    .hide-tab{
        display: initial;
    }

    .new-message input{
        width: calc(100% - 10rem);
    }
}